In [ ]:
import pandas as pd
import numpy as np

data = np.array([['Portugal', 'Lisboa',2, 3, 0],
                ['Peru', 'Lima',1, 3, 5],
                ['Chile', 'Santiago',1, 0, 0],
                ['Brasil', 'Brasília',1, 5, 2]])

df = pd.DataFrame(data, index=range(100,104),columns=['País', 'Capital', 'teste', 'Área de projeção 1', 'Área de projeção 2']) 
df

         País   Capital teste Área de projeção 1 Área de projeção 2
100  Portugal    Lisboa     2                  3                  0
101      Peru      Lima     1                  3                  5
102     Chile  Santiago     1                  0                  0
103    Brasil  Brasília     1                  5                  2

In [ ]:
#Função que para calcular o total de linhas diferente de 0 em colunas especificas
def sum_frame_by_column(frame, new_col_name, list_of_cols_to_sum):
    frame[new_col_name] = (frame[list_of_cols_to_sum] != '0').sum(axis=1)
    return(frame)

In [ ]:
listaColunas = ['Área de projeção 1','Área de projeção 2']
sum_frame_by_column(df, 'total', listaColunas)

         País   Capital teste Área de projeção 1 Área de projeção 2  total
100  Portugal    Lisboa     2                  3                  0      1
101      Peru      Lima     1                  3                  5      2
102     Chile  Santiago     1                  0                  0      0
103    Brasil  Brasília     1                  5                  2      2