In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
uploaded = files.upload()

Saving Composicao_AglomUrbanas_2020_06_30.xlsx to Composicao_AglomUrbanas_2020_06_30 (1).xlsx

In [ ]:
# importando io para carregar o arquivo
import io

#comando para importar arquivo CSV: read_csv e salvar os dados 
data = pd.read_excel(io.BytesIO(uploaded['Composicao_AglomUrbanas_2020_06_30.xlsx']))

In [ ]:
data.head()

     GRANDE_REG  ...       DATA
0  Centro-Oeste  ... 1998-02-19
1  Centro-Oeste  ... 1998-02-19
2  Centro-Oeste  ... 1998-02-19
3  Centro-Oeste  ... 1998-02-19
4  Centro-Oeste  ... 1998-02-19

[5 rows x 12 columns]

In [ ]:
data.info

<bound method DataFrame.info of         GRANDE_REG  ...       DATA
0     Centro-Oeste  ... 1998-02-19
1     Centro-Oeste  ... 1998-02-19
2     Centro-Oeste  ... 1998-02-19
3     Centro-Oeste  ... 1998-02-19
4     Centro-Oeste  ... 1998-02-19
...            ...  ...        ...
1415           Sul  ... 1998-01-06
1416           Sul  ... 1998-01-06
1417           Sul  ... 1998-01-06
1418           Sul  ... 1998-01-06
1419           Sul  ... 1998-01-06

[1420 rows x 12 columns]>

No código abaixo estou verificando a porcentagem de campos que estão nulos e com base nessas informações verificar a tem a necessidade de tratar esses dados.

In [ ]:
(data.isnull().sum() / data.shape[0]).sort_values()

GRANDE_REG       0.0
COD_UF           0.0
SIGLA_UF         0.0
COD              0.0
NOME             0.0
TIPO             0.0
COD_CAT_ASSOC    0.0
CAT_ASSOC        0.0
COD_MUN          0.0
NOME_MUN         0.0
LEG              0.0
DATA             0.0
dtype: float64

Com o código acima podemos verificar que não é preciso efetuar nenhum tratamento de campos nulos.

# Excluir as colunas: SIGLA_UF, NOME, NOME_MUN, LEG

In [ ]:
data=data.drop(columns=['SIGLA_UF', 'NOME', 'NOME_MUN', 'LEG'])
data.head(len(data))

        GRANDE_REG  COD_UF   COD  ...             CAT_ASSOC  COD_MUN       DATA
0     Centro-Oeste      53  5301  ...               NÃO TEM  5300108 1998-02-19
1     Centro-Oeste      52  5202  ...               NÃO TEM  5200100 1998-02-19
2     Centro-Oeste      52  5202  ...               NÃO TEM  5200175 1998-02-19
3     Centro-Oeste      52  5202  ...               NÃO TEM  5200258 1998-02-19
4     Centro-Oeste      52  5202  ...               NÃO TEM  5200308 1998-02-19
...            ...     ...   ...  ...                   ...      ...        ...
1415           Sul      42  4202  ...  Núcleo Metropolitano  4202404 1998-01-06
1416           Sul      42  4202  ...  Núcleo Metropolitano  4205902 1998-01-06
1417           Sul      42  4202  ...  Núcleo Metropolitano  4207502 1998-01-06
1418           Sul      42  4202  ...  Núcleo Metropolitano  4213203 1998-01-06
1419           Sul      42  4202  ...  Núcleo Metropolitano  4218202 1998-01-06

[1420 rows x 8 columns]

# Discretizar os valores do campo: GRANDE_REG

A coluna GRANDE_REG eu entendo que já está discretizada (por favor me corrija se eu estiver errado), a ideia aqui foi discretizar novamente as regiões em valores numericos, pois muitos algoritimos trabalham somente com numeros

In [ ]:
data = data.replace("Norte", 1).replace("Nordeste", 2).replace("Centro-Oeste", 3).replace("Sudeste", 4).replace("Sul", 5)

# Exibir o novo arquivo após modificações

In [ ]:
data.head(len(data))

      GRANDE_REG  COD_UF   COD  ...             CAT_ASSOC  COD_MUN       DATA
0              3      53  5301  ...               NÃO TEM  5300108 1998-02-19
1              3      52  5202  ...               NÃO TEM  5200100 1998-02-19
2              3      52  5202  ...               NÃO TEM  5200175 1998-02-19
3              3      52  5202  ...               NÃO TEM  5200258 1998-02-19
4              3      52  5202  ...               NÃO TEM  5200308 1998-02-19
...          ...     ...   ...  ...                   ...      ...        ...
1415           5      42  4202  ...  Núcleo Metropolitano  4202404 1998-01-06
1416           5      42  4202  ...  Núcleo Metropolitano  4205902 1998-01-06
1417           5      42  4202  ...  Núcleo Metropolitano  4207502 1998-01-06
1418           5      42  4202  ...  Núcleo Metropolitano  4213203 1998-01-06
1419           5      42  4202  ...  Núcleo Metropolitano  4218202 1998-01-06

[1420 rows x 8 columns]